<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" /></head>
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2>Detalles del profesor</h2>
		<div class="panel panel-default">
			<div class="panel-heading">Nombre</div>
			<div class="panel-body" th:text="${teacher.nombre}">Nombre1</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Apellidos</div>
			<div class="panel-body" th:text="${teacher.apellidos}">Apellidos1</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Categoria</div>
			<div class="panel-body" th:text="${teacher.categoria}">Categoria1</div>
		</div>
	</div>

	<footer th:replace="fragments/footer" />


</body>
</html>